In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
# plots created with matplotlib appear inside the notebook instead of opening a new window

In [ ]:
# loading the date from csv file
df = pd.read_csv("Car details v3.csv") # df is an abbreviation for data frame

In [ ]:
# the top 5 rows of the data
df.head()

In [ ]:
# convert the strings into numbers
df['mileage'] = df['mileage'].str.replace(' kmpl', '', regex = False)
df['mileage'] = pd.to_numeric(df['mileage'], errors = 'coerce')

df['engine'] = df['engine'].str.replace(' CC', '', regex = False)
df['engine'] = pd.to_numeric(df['engine'], errors = 'coerce')

df['max_power'] = df['max_power'].str.replace(' bhp', '', regex = False)
df['max_power'] = pd.to_numeric(df['max_power'], errors = 'coerce')
# remove torque column
df.drop('torque', axis = 1, inplace = True)

In [ ]:
# top 15 rows
df.head(15)

In [ ]:
# the number of rows (cars) and columns (features, attributes, or aspects)
df.shape

In [ ]:
# checking for null values
df.isnull().sum()

In [ ]:
# deleting null rows
df.dropna(inplace = True)
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
# changing the year to how old is the car
df['num_year'] = 2026 - df['year']
df.drop('year', axis = 1, inplace = True)

In [ ]:
df.head()

Basic EDA

In [ ]:
df['fuel'].value_counts()

In [ ]:
df['seller_type'].value_counts()

In [ ]:
df['transmission'].value_counts()

In [ ]:
df['owner'].value_counts()

In [ ]:
df.info()

In [ ]:
sns.countplot(x = 'fuel', data = df);

In [ ]:
sns.countplot(x = 'seller_type', data = df);

In [ ]:
sns.countplot(x = 'transmission', data = df);

In [ ]:
sns.countplot(x = 'owner', data = df);

In [ ]:
# changing categorial values into numbers
df.replace({'fuel':{'Diesel':0, 'Petrol':1, 'CNG':2, 'LPG':3}}, inplace = True)
df.replace({'seller_type':{'Individual':0, 'Dealer':1, 'Trustmark Dealer':2}}, inplace = True)
df.replace({'transmission':{'Manual':0, 'Automatic':1}}, inplace = True)
df.replace({'owner':{'First Owner':0, 'Second Owner':1, 'Third Owner':2, 'Fourth & Above Owner':3, 'Test Drive Car':4}}, inplace = True)
df['fuel'] = pd.to_numeric(df['fuel'], errors='coerce')
df['seller_type'] = pd.to_numeric(df['seller_type'], errors='coerce')
df['transmission'] = pd.to_numeric(df['transmission'], errors='coerce')
df['owner'] = pd.to_numeric(df['owner'], errors='coerce')

In [ ]:
df.head(50)

In [ ]:
# number of duplicates
df.duplicated().sum()

In [ ]:
# deletion of duplicates
df.drop_duplicates(inplace = True)

In [ ]:
df.info()

In [ ]:
# a grid of 4 subplots with 2 * 2 arrays of axes
fig, axes = plt.subplots(2, 2, figsize = (16,10))
# super title
fig.suptitle('Visualization of Numerical columns')

sns.regplot(x = 'num_year', y = 'selling_price', data = df, ax = axes[0,0])
sns.regplot(x = 'seller_type', y = 'selling_price', data = df, ax = axes[0,1])
sns.regplot(x = 'mileage', y = 'selling_price', data = df, ax = axes[1,0])
sns.regplot(x = 'owner', y = 'selling_price', data = df, ax = axes[1,1]);

Splitting the data into Test data and Training data